<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <p id="userIn4" style="display: none;"  data-nickName="<%= user.nickName %>" data-name="<%= user.name %>" data-ID="<%= user._id %>"></p>
    <% if(locals.other){ %>
        <p id="otherIn4" style="display: none;" data-nickName="<%= other.nickName %>" data-name="<%= other.name %>" data-ID="<%= other._id %>"></p>
    <% } %>
    <script src="/js/chat.js"></script>
    
</head>
<link href="/css/style.css" rel="stylesheet" />

<body>

    <div id="container">
        <!-- Danh sach ban be chat ben trai -->
        <aside>
            <header>
                <input type="text" placeholder="search">
            </header>
            <% if(locals.allUsers){ %>
                <ul>
                <% for (u in allUsers){ %>
                    <a href="/chat/<%= allUsers[u]._id %>">
                        <li>
                            <img src="<%= allUsers[u].avatar %>" alt="">
                            <div>
                                <h2 class="userName" data-ID="<%= allUsers[u]._id %>"><%= allUsers[u].name %></h2>
                                <h3 class="userStatus">
                                    <% if(allUsers[u].status == 'online'){ %>
                                        <span class="status green"></span> online
                                    <% }else{ %>
                                        <span class="status orange"></span> offline
                                    <% } %>
                                </h3>
                            </div>
                        </li>
                    </a>
                <% } %>
                </ul>
            <% } %>
        </aside>

        <% if(locals.other){ %>
            <main>
                <!-- Ten nguoi chat hien tai -->
                <header>
                    <img src="<%= other.avatar %>" alt="">
                    <div class="namechatting">
                        <p><%= other.name %></p>
                    </div>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
                </header>
    
                <!-- Cua so chat chinh -->
                <ul id="chat" data-idUser="<%= other._id %>" data-nickName="<%= other.nickName %>">
                    <% if(locals.allMess && allMess.length > 0){ %>
                        <% for(m in allMess){ %>
                            <li class="<%= allMess[m].classCss.classPeople %>" data-idMess="<%= allMess[m]._id %>">
                                <div class="<%= allMess[m].classCss.classSide %>">
                                    <% if (allMess[m].classCss.classPeople == 'me'){ %>
                                        <h3><%= allMess[m].time %></h3>
                                        <h2>You</h2>
                                        <span class="<%= allMess[m].classCss.classStatus %>"></span>
                                    <% }else{ %>
                                        <span class="<%= allMess[m].classCss.classStatus %>"></span>
                                        <h2><%= other.nickName %></h2>
                                        <h3><%= allMess[m].time %></h3>
                                    <% } %>
                                </div>
                                <div class="message">
                                    <%= allMess[m].content %>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
                <footer>
                    <textarea name="message_input" id="message_input" placeholder="Type your message"></textarea>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
                    <button onclick="sendMess('<%= other._id %>')" class="button button2">&#8688;</button>
                </footer>
            </main>
        <% } %>
    </div>
    <a type="button" class="btn btn-danger" href="../user/logout">Đăng xuất</a>

</body>

</html>