<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
</head>
<link href="/css/style.css" rel="stylesheet" />

<body>

    <div class="container">
        <h1 class="caption-login caption-login-main">Register</h1>
        <form action="" class="form-login" method="POST" autocomplete="on">
            <hr>
            <div class="form-group">
                <label class="caption-login" for="name">Name:</label>
                <input type="text" class="form-control chonhap" id="name" value="<%= name %>" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label class="caption-login" for="email">Email:</label>
                <input type="email" class="form-control chonhap" id="email" value="<%= email %>" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label class="caption-login" for="pwd">Password:</label>
                <input type="password" class="form-control chonhap" id="pwd" placeholder="Enter password" name="password">
            </div>
            <div class="form-group">
                <label class="caption-login" for="rePwd">Repeat Password:</label>
                <input type="password" class="form-control chonhap" id="rePwd" placeholder="Confirm password" name="rePassword">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-dangnhap">Register</button>
            </div>
            <div class="container signin">
                <p>Already have an account? <a href="/user/login">Sign in</a>.</p>
            </div>
            <% if(locals.error && error.length > 0){ %>
                <% if (+code != 0){ %>
                    <div class="alert alert-danger">
                        <strong>Error: <%= code %></strong>
                <% }else{ %>
                    <div class="alert alert-success"> 
                        <strong>Success: <%= code %></strong>  
                <% } %>
                    <%= error %>
                </div>
            <% } %>
        </form>

    </div>

</body>

</html>